@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<h1>Roles</h1>


 

<div style="width:70%; margin:auto; margin-top: 70px">
    <partial name="Add" model="new RoleFormViewModel()" />

    <table class="table table-striped mt-4">
        <thead>
            <tr class="bg-success text-white">
                <th>Id</th>
                <th>Role Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

